<Alloy>
	<Tab id="settings_tab" title="Settings" icon="gear">
  <Window id="settings_window" backgroundColor="white" title="settings">
 	<RightNavButton platform="ios">
 		<Button id="refresh_button" image="refresh30.png" right="3%" width="13" height="13"/>
	</RightNavButton>
 	  <TableView id="settings_table" backgroundColor="transparent" style= "Titanium.UI.iPhone.TableViewStyle.PLAIN" 
 	  	separatorStyle="Ti.UI.iPhone.TableViewSeparatorStyle.NONE">
 	  	<TableViewSection headerTitle="User Profile"/>
 	  	<TableViewSection headerTitle="Name">
 	  		<TableViewRow>
 	  			<TextField id="name_tf" width="Ti.UI.Fill" left="20" hintText="Name: Zachary Smith"/>
 	  		</TableViewRow>
 	  	</TableViewSection>
 	  	<TableViewSection headerTitle="GMail Account">
 	  		<TableViewRow>
 	  			<TextField id="emailid_tf" width="Ti.UI.Fill" left="20" hintText="email: Zachary.Smith@gmail.com" value=""/>
 	  		</TableViewRow>
 	  	</TableViewSection>
 	  	<TableViewSection headerTitle="Notification">
 	  		<TableViewRow>
 	  			<TextField id="notifemailid_tf" width="Ti.UI.Fill" left="20" hintText="email: David.Smith@gmail.com" value=""/>
 	  		</TableViewRow>
	  		<TableViewRow>
 	  			<TextField id="notifphone_tf" width="Ti.UI.Fill" left="20" hintText="Phone: 858-215-3636" value=""/>
 	  		</TableViewRow>
 	  	</TableViewSection>
 	  	<TableViewSection headerTitle="Utilities">
 	  		<TableViewRow id="skin_row" backgroundColor="transparent" opacity="0" title="Change Skin Color"/>
 	  		<TableViewRow id="currency_row" backgroundColor="transparent" opacity="0" title="Currency"/>
 	  		<TableViewRow id="offline_row" opacity="0" title="Offline Mode">
			 	<Switch id="offline_switch" right="20" titleOff="OFF" titleOn="ON" value="ON"/>
 	  		</TableViewRow>
 	  		<TableViewRow id="offline_row" opacity="0" title="Debug Mode">
			 	<Switch id="offline_switch" right="20" titleOff="OFF" titleOn="ON" value="ON"/>
 	  		</TableViewRow>
 	  		<TableViewRow id="support_row" opacity="0" title="Email Support"/>
 	  		<TableViewRow id="advance_row" backgroundColor="transparent" opacity="0" title="Advance Option" onClick="gotoAdvance"/>
 	  	</TableViewSection>
	  </TableView>
  </Window>
  </Tab>
</Alloy>