<Alloy>
	<Tab  title="Settings" icon="gear">
  <Window id="settings_window" backgroundColor="white" title="settings">
 	<RightNavButton platform="ios">
	   <Button systemButton="Ti.UI.iPhone.SystemButton.ADD" onClick="addHandler" /> 
	</RightNavButton>
 	  <TableView id="settings_table" backgroundColor="transparent" style= "Titanium.UI.iPhone.TableViewStyle.PLAIN" 
 	  	separatorStyle="Ti.UI.iPhone.TableViewSeparatorStyle.NONE">
 	  	<TableViewSection headerTitle="User Profile"/>
 	  	<TableViewSection headerTitle="Name">
 	  		<TableViewRow>
 	  			<TextField id="name_tf" width="Ti.UI.Fill" left="20" hintText="Name: Zachary Smith"/>
 	  		</TableViewRow>
 	  	</TableViewSection>
 	  	<TableViewSection headerTitle="GMail Account">
 	  		<TableViewRow>
 	  			<TextField id="email_tf" width="Ti.UI.Fill" left="20" hintText="email: Zachary.Smith@gmail.com" value=""/>
 	  		</TableViewRow>
 	  	</TableViewSection>
 	  	<TableViewSection headerTitle="Utilities">
 	  		<TableViewRow id="skin_row" backgroundColor="transparent" opacity="0" title="Change Skin Color"/>
 	  		<TableViewRow id="currency_row" backgroundColor="transparent" opacity="0" title="Currency"/>
 	  		<TableViewRow id="offline_row" opacity="0" title="Offline Mode">
			 	<Switch id="offline_switch" right="20" titleOff="OFF" titleOn="ON" value="ON"/>
 	  		</TableViewRow>
 	  		<TableViewRow id="offline_row" opacity="0" title="Debug Mode">
			 	<Switch id="offline_switch" right="20" titleOff="OFF" titleOn="ON" value="ON"/>
 	  		</TableViewRow>
 	  		<TableViewRow id="support_row" opacity="0" title="Email Support"/>
 	  		<TableViewRow id="advance_row" backgroundColor="transparent" opacity="0" title="Advance Option"/>
 	  	</TableViewSection>
	  </TableView>
  </Window>
  </Tab>
</Alloy>